
#Configuration AS2-DS1 on Etherchannel and Trunking Dot1q
int range e1/0-1
sh
channel-gr 12 mo act
sh
sw tr en do
sw mo tr
sw tr all vl 2020-2023
sw non
sw tr nat vlan 998
no shut
int range e1/0-1
no shut
exit
#Configuration AS2-DS2 on Etherchannel and Trunking Dot1q
int range e0/2-3
sh
channel-gr 14 mo act
sh
sw tr en do
sw mo tr
sw tr all vl 2020-2023
sw non
sw tr nat vlan 996
no shut
int range e0/2-3
no shut
exit
#Configuration VTP on AS2
vtp domain lab.com
vtp version 3
vtp mo cli 
vtp mo cli mst
vtp pass ccnpvtp hid

#Configuration Spanning-tree on AS2
spanning-tree mod mst
spanning-tree portfast ed	default
spanning-tree portfast ed   bpduguard default
spanning-tree portfast ed bpdufilter default
int po12
lacp fast-switchover
 spanning-tree link-type point-to-point
 spanning-tree guard loop
int po14
lacp fast-switchover
 spanning-tree link-type point-to-point
 spanning-tree guard loop
 
 #config Assign to Sales and Maketing and IT(DHCP)
 int e0/0
 sw host
 sw mo acc
 sw acc vlan 2021
 des Sales
sw non
no shut
exit
int e0/1
sw host
sw mo acc
sw acc vlan 2023
des IT-Dpt
sw non
no shut
int e1/2
sw host
sw mo acc
sw acc vlan 2022
sw non
no shut
des Maketing
#do sh int des
#do sh run int e0/0.....
do wr
