#Configuration AS1-DS1 on Etherchannel and Trunking Dot1q

int range e0/2-3
sh
channel-gr 11 mo act
sh
sw tr en dot
sw mo tr
sw tr all vl 2020-2023
sw non
sw tr nat vl 999
int range e0/2-3
no shut

#configuration AS1-DS2 on Etherchannel and Trunking Dot1q

int range e1/0-1
sh
channel-gr 13 mo act
sh
sw tr en dot
sw mo tr
sw tr all vlan 2020-2023
sw non
sw tr nat vlan 997
no shut
int range e1/0-1
no shut
#Configuration VTP on AS1
vtp domain lab.com
vtp version 3
vtp mo cli 
vtp mo cli mst
vtp pass ccnpvtp hid

#Configuration As1 in Spanning-tree mst
spanning-tree mod mst
spanning-tree portfast ed	default
spanning-tree portfast ed   bpduguard default
spanning-tree portfast ed bpdufilter default
int po11
lacp fast-switchover
 spanning-tree link-type point-to-point
 spanning-tree guard loop
int po13
lacp fast-switchover
 spanning-tree link-type point-to-point
 spanning-tree guard loop

#config Assign to R14
int e0/0
sw host
sw mo acc
sw acc vlan 2020
sw non
no shut
exit
do wr
